body {
  background-color: rgb(168, 168, 168);
  background-image: url('../../assets/images/background.avif');
  background-attachment: fixed;
  background-size: cover;
  /* -webkit-backdrop-filter: brightness(80%); */
  /* backdrop-filter: brightness(80%); */
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
